<!DOCTYPE html>
<html>
<head>
	<title>Formulaire</title>
	
	<meta charset="utf-8">
</head>
<body>
	<form action="store_temp.php" method="POST">
    	<div>
    		<h1>Simulation du NodeMCU</h1>
    		<p> Ce formulaire permet de tester l'envoi d'une température vers le serveur comme le ferait le NodeMCU.</p>
        	<label for="temperature">Temperature :</label>
        	<input type="text" id="temperature" name="temperature" placeholder="valeur numérique">
    	</div>
    	<div class="button">
        	<button type="submit">Envoyer</button>
    	</div>
	</form>
</body>
</html>